@media (max-device-width: 450px) {
    .resultTable {
        display: grid;
        grid-template-columns: 1fr;
        justify-content: flex-start;
        grid-row-gap: 10px;
    }
} 

@media (min-device-width: 451px) {
    .resultTable {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr;	
        justify-content: flex-start;
        grid-row-gap: 10px;
    }
}

div {
    border-radius: 25px;
    padding: 20px; 
    display: flex;
    flex-direction: column;
}

div img {
    width: 100px;
    height: 100px;
    object-fit: cover;
    margin: 5px;
}

